# PYENV_ROOT is where Python versions will be installed
export PYENV_ROOT="$(brew --prefix)/var/pyenv"

# This sets up pyenv shims and bash completion; run `pyenv init -` to
# see everything it does.
eval "$(pyenv init -)"

function pyenv-install {
    local openssl_prefix="$(brew --prefix openssl)"
    local readline_prefix="$(brew --prefix readline)"
    local zlib_prefix="$(brew --prefix zlib)"

    local cppflags="-I${openssl_prefix}/include -I${readline_prefix} -I${zlib_prefix}/include"
    local ldflags="-L${openssl_prefix}/lib -L${readline_prefix} -L${zlib_prefix}/lib"

    local configure_opts="--enable-shared"

    CPPFLAGS="$cppflags" LDFLAGS="$ldflags" PYTHON_CONFIGURE_OPTS="$configure_opts" pyenv install "$@"
}
